body {
    background-color:cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}
h1 {
    align-self: center;
    color: blue;
}
h3 {
    color: blue;

}
#subtitle {
    align-self: center;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}